* {
    margin: 10;
    padding: 10;
    font-family: 'Fira Code', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

canvas#Matrix {
    position: fixed;
    /* Ensures canvas covers entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Places canvas behind all other content */
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.75rem;
    color: #ff004f;
    font-weight: bold;
    text-align: left;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 30px;
    line-height: 1.6;
    text-align: center;
}

.header-text h1 {
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}

.header-text h1 span {
    color: #ff004f;
}

.header-text h2 span {
    color: #ff004f;
}

.cursor {
    display: inline-block;
    background-color: #ff004f;
    width: 0px;
    animation: blink 1s infinite;
}

/* ------------- PFP On Home Page ----------------->
.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    float: right;
    margin-top: 100px;
    margin-right: 75px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #ff004f;
    transition: transform 0.3s, box-shadow 0.3s;
}

.section_pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s;
}

.section_pic-container:hover {
    transform: scale(1.05);
    box-shadow: 20 0 20px 10px #ff004f;
}

.section_pic-container:hover img {
    filter: brightness(1.1) contrast(1);
}*/

.btn-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn-color-1 {
    font-size: 20px;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.btn-color-1:hover {
    cursor: pointer;
    background-color: #ff004f;
}

.icon {
    cursor: pointer;
    height: 2rem;
    transition: transform 0.5s;
}

.icon:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 10px;
    gap: 1rem;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}

/* Responsive CSS for screens up to 600px */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        font-size: 1.75rem;
        color: #ff004f;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    nav ul {
        padding: 0;
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .header-text {
        margin-top: 20%;
        font-size: 24px;
        line-height: 1.4;
        text-align: center;
    }

    * .header-text h1 {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-left: 10px;
    }

    .header-text p {
        font-size: 18px;
        text-align: center;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .btn-color-1 {
        width: 100%;
        padding: 0.75rem;
        font-size: 16px;
    }

    #socials-container {
        justify-content: center;
        margin-left: 0;
        gap: 1.5rem;
        margin-bottom: -40px;
    }


    /*  ------------- PFP On Home Page ----------------->
    .section_pic-container {
        height: 200px;
        width: 200px;
        margin: 20px auto;
        float: none;
        box-shadow: 0 0 10px 5px #ff004f;
        margin-bottom: 20px;
    }*/
}


/* -----------ABOUT ME--------------- */
#about {
    padding: 70px 0;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-2 {
    flex-basis: 35%;
    margin-top: 175px;
}

.about-col-2 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-1 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.intro {
    line-height: 1.5;
}

.intro span {
    color: #ff004f;
    font-weight: bold;
    font-size: 17px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 30px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 20px;
    margin-left: -40px;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 16px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ----------------EXPERIENCE------------- */
#experience {
    padding: 70px 0;
    color: #fff;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.experience-container {
    display: flex;
}

.exp-tab-titles {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.exp-tab-links {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.exp-tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.exp-tab-links.active-link::after {
    width: 100%;
}

.exp-tab-contents-container {
    flex: 1;
}

.exp-tab-contents {
    display: none;
    line-height: 2;
}

.exp-tab-contents.active-tab {
    display: block;
}

.exp-tab-contents h2 {
    color: #ff004f;
    margin-bottom: 20px;
}

.exp-tab-contents h2 span {
    color: #fff;
    font-size: larger;
}

.exp-tab-contents h3 {
    color: #ff004f;
}

.exp-tab-contents active-tab ul li {
    margin-bottom: 20px;
}

.exp-tab-contents ul li {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .sub-title {
        font-size: 40px;
    }

    .experience-container {
        flex-direction: column;
    }

    .exp-tab-titles {
        margin-right: 0;
        text-align: center;
    }

    .exp-tab-links {
        font-size: 20px;
    }

    .exp-tab-links::after {
        bottom: -9px;
    }

    .exp-tab-links.active-link::after {
        width: 70%;
        margin-left: 40px;
    }

    .exp-tab-contents h2 {
        font-size: 20px;
        text-align: center;
    }

    .exp-tab-contents h2 span {
        font-size: larger;
        text-align: center;
    }

    .exp-tab-contents h3 {
        font-size: 17px;
        text-align: center;
    }

    .exp-tab-contents ul li {
        margin-bottom: 15px;
        font-size: smaller;
    }
}

/* -------PROJECTS----------- */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* ---------CONTACT ME-------- */
.contact-left {
    flex-basis: 35%;
}

.sub-title {
    margin-top: 15px;
    margin-bottom: 65px;
}


.contact-left span {
    color: #ff004f;
    font-size: larger;
    font-weight: 600;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 40px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}


.btn.btn2 {
    display: inline-block;
    background: #ff004f;
    color: #080808;
    font-size: 20px;
    font-weight: 600;
}

.btn.btn2:hover {
    cursor: pointer;
    background-color: #fff;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}

.copyright a {
    color: #ff004f;
    text-decoration: none;
}

/* -----------CSS CODE FOR MOBILE SCREENS--------- */
nav .fas {
    display: none;
}

@media only screen and (max-width: 600px) {

    /*.header-text {
        margin-top: 100%;
        font-size: 16px;
    }*/


    .sub-title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    .sub-title-two {
        text-align: center;
    }

    .contact-left {
        text-align: center;
    }

    .contact-right {
        text-align: center;
    }

    .intro {
        text-align: center;
    }

    .tab-titles {
        justify-content: center;
        margin-left: 35px;
        /*flex: auto;*/
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: -120px;
        margin-left: -20px;
        margin-top: -250px;
    }

    .about-col-2 {
        font-size: 14px;
        margin-bottom: -100px;
    }

    .exp-tab-titles {
        font-size: smaller;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}